# CryptoStats SDK Configuration
ETHERSCAN_KEY=your_etherscan_api_key
MONGO_CONNECTION_STRING=your_mongodb_connection_string
REDIS_URL=your_redis_url
EXECUTION_TIMEOUT=60

# Public configuration
NUXT_PUBLIC_GA_ID=G-TG6XPV9ZGL
NUXT_PUBLIC_SITE_URL=https://l2fees.info
